name: Staging CI

on:
  push:
    branches: [ "staging" ]
  pull_request:
    branches: [ "staging" ]

jobs:
  build-and-test:
    name: Build, Test, and Quality Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: wrapper

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run Tests & Linters (Checkstyle & JaCoCo)
        run: ./gradlew check

      - name: Upload Test Report
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-reports
          path: build/reports/tests/test/

      - name: Upload Code Coverage Report (JaCoCo)
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: jacoco-coverage-report
          path: build/reports/jacoco/test/html/

      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Build and analyze
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: ./gradlew sonar --info

  # Placeholder untuk Automated Deployment ke AWS
  # deploy-to-aws:
  #   needs: build-and-test
  #   if: github.event_name == 'push' # Hanya deploy saat merge, bukan PR
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Deploy Placeholder
  #       run: echo "Dummy AWS deployment script"